@model WebApplication1.Models.FullAndPartialViewModel

<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Product</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.LastRequestDate</td>
                <td>@product.LastStatus</td>
                <td>@product.LastTitle</td>
                <td>@product.URL</td>
            </tr>
        }
    </tbody>
</table>  